body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.main-container {
    background: #E5E5E5;
    // background: linear-gradient(107.89deg, #E1DDDB 0%, #F2F1ED 21.28%, #FDFCF9 65.53%, #E6E0DD 100.12%);

}

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    max-width: 1200px;
    margin: 0 auto;

    // nav-links style
    .nav-link {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #5D676F;
    }

    .btn-outline-info {
        width: 100px;
        height: 33px;
        border: 1px solid #55CAE8;
        box-sizing: border-box;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .main-info {
        overflow: hidden;
        display: flex;
        padding-bottom: 50px;
        justify-content: space-between;
        flex-direction: row;

        .header-info {
            max-width: 60%;
            z-index: 2;

            .header-h1 {
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 46px;
                line-height: 66px;
                align-items: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: black;
                margin-top: 90px;
                margin-left: 20px;

                span {
                    background-color: #55CAE8;
                    color: #FFFFFF;
                }
            }

            #header-p {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                letter-spacing: 0.01em;
                margin-top: 24px;
                margin-left: 20px;
                max-width: 90%;
                color: #2E2B32;

            }

            // headers btns
            .my-btn {
                background: #E3E0DD;
                border-radius: 36px;
                width: 190px;
                height: 68px;
                border: none;
                margin-left: 20px;
                margin-top: 36px;

                span {
                    font-family: 'Oswald', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 36px;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: #4AC9F3;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }

                ::after {
                    content: '';
                    background-image: url(Images/arrow.svg);
                    width: 28px;
                    height: 21px;
                    left: 556px;
                    top: 531px;
                    border: none;
                }


            }

            .my-btn:hover {
                border: 2px solid #4AC9F3;
                // color: #CED5D8;
            }

            // second one
            .my-btn1 {
                background: #2E2B32;
                border-radius: 36px;
                width: 190px;
                height: 68px;
                border: none;
                margin-left: 15px;
                margin-top: 36px;

                span {
                    font-family: 'Oswald', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 36px;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: #F6F5F1;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }

                ::after {
                    content: '';
                    background-image: url(Images/white-arrow.svg);
                    width: 28px;
                    height: 21px;
                    left: 556px;
                    top: 531px;
                    border: none;
                    color: #F6F5F1;
                }
            }

            .my-btn1:hover {
                border: 2px solid #4AC9F3;
                // color: #CED5D8;
            }
        }

        .header-bg {
            height: 580px;
            z-index: 5;
            width: 40%;
            position: relative;

            img {
                position: absolute;
                left: -260px;
                top: -14%;
            }
        }

    }


}

.header-log-wrapper {
    max-width: 100%;
    background: #CED5D8;

    .header-log {

        max-width: 1200px;
        margin: 0 auto;

        .header-bottom {
            p {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: #2E2B32;
                padding: 22px;
                margin: 0;
            }
        }
    }
}

.dark-wrapper {
    max-width: 100%;
    background: linear-gradient(103.21deg, #302C34 2.8%, #59555D 26.3%, #4A474F 37.81%, #232224 92.31%);

    .cards-container {
        max-width: 1200px;
        margin: 0 auto;

        .dark-header {

            p {
                padding-top: 64px;
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 39px;
                justify-content: center;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
            }

            span {
                background-color: #55CAE8;
            }
        }
    }

    .cards {
        //   background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(23, 128, 155, 0.1) 73.44%);
        //   padding: 10px;

        .cards-flex {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 64px;

            .card-items {
                height: auto;
                max-width: 214px;
                height: 222px;
                margin: 10px;
                background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(23, 128, 155, 0.1) 73.44%);

                h4 {
                    font-family: 'Oswald', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-top: 24px;
                }

                p {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    margin: 40px 15px 42px;
                }

            }
        }
    }

}

.products {
    padding-top: 64px;
    background: #E5E5E5;

    .products-wrapper {
        max-width: 1200px;
        margin: 0 auto;

        h1 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 39px;
            text-align: center;
            justify-content: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #2E2B32;
            max-width: 696px;
            margin: 0 auto;
            margin-bottom: 64px;

            span {
                background-color: #55CAE8;
                color: #FFFFFF;
            }
        }

        .products-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            max-width: 1000px;
            flex-wrap: wrap;
            margin: 0 auto;


            .products-item {
                max-width: 448px;
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 26px;
                align-items: center;
                letter-spacing: 0.01em;
                color: #2E2B32;
                height: auto;

                b {
                    text-transform: uppercase;
                }
            }

            #mappy {
                position: relative;

                img#map {
                    position: relative;
                }

                img#map-item {
                    position: absolute;
                    left: 146px;
                    top: -68px;
                }

            }

            .wifi {
                // position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                // padding-bottom: 80px;

                .gadgets {
                    max-width: 50%;
                    position: relative;

                    #wifi-black {
                        left: 183px;
                        top: -8px;
                        position: absolute;
                        z-index: 5;
                    }

                    #wifi-white {
                        left: 120px;
                        top: -31px;
                        z-index: 6;
                        position: absolute;
                    }

                    #phone {
                        position: absolute;
                        top: 47px;
                        left: 51px;
                        z-index: 7;

                    }


                }

                .products-item {
                    max-width: 448px;
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 26px;
                    align-items: center;
                    letter-spacing: 0.01em;
                    color: #2E2B32;
                    height: auto;
                    position: relative;
                    right: -56%;

                    b {
                        text-transform: uppercase;
                    }
                }


            }
        }
    }
}

.labels {
    background: linear-gradient(281.7deg, #302C34 11.23%, #59555D 42.92%, #4A474F 52.23%, #232224 94.08%);
    border-radius: 4px;
    width: 100%;


    .labels-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 48px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
            padding-top: 53px;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            margin: 0;
        }
    }
}

.info-block {
    background: #E5E5E5;
    widows: 100%;

    .info-block-wrapper {
        margin: 0 auto;
        max-width: 1200px;

        h1 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 39px;
            align-items: center;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            padding-top: 64px;
            margin-bottom: 48px;
            color: #2E2B32;
        }


        .info-block-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 40px;

            .block {
                max-width: 640px;

                p {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 26px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.01em;
                    color: #2E2B32;
                }
            }

        }

    }
}

.order-list {
    width: 100%;
    background: linear-gradient(281.7deg, #302C34 11.23%, #59555D 42.92%, #4A474F 52.23%, #232224 94.08%);
    border-radius: 4px;

    .order-list-wrapper {
        max-width: 1200px;
        margin: 0 auto;

        .list-demo-kit {
            display: flex;
            flex-direction: row;
            position: relative;
            overflow: hidden;

            ol {
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 48px;
                align-items: center;
                letter-spacing: 0.01em;
                // text-transform: uppercase;
                color: #55CAE8;
                padding-top: 64px;
                margin-left: 75px;
                z-index: 5;
            }

            li {
                width: 391px;
                padding-left: 6px;
            }

            span {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 39px;
                display: flex;
                align-items: center;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                padding-bottom: 32px;
                padding-left: 20px;
            }

            .img {
                position: absolute;
                z-index: 1;
            }
        }
    }
}

.forma {
    background: #E5E5E5;
    max-width: 1200px;
    margin: 0 auto;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    }

    h1 {
        font-weight: bold;
        font-size: 26px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        line-height: 39px;
        font-family: 'Oswald', sans-serif;
        align-items: center;
        justify-content: center;
        display: flex;
        padding-top: 64px;
        color: #2E2B32;
        padding-bottom: 46px;
    }

    .form-group {

        label {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            font-weight: 400;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            padding: 20px 0px 10px 0px;
            color: #2E2B32;
        }

        .form-control {
            width: 540px;
            height: 68px;

            input {
                background: #FAFAFA;
                border: 2px solid #504C54;
                box-sizing: border-box;
            }
        }
    }

    .form-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 540px;
        margin-top: 24px;
        padding-bottom: 58px;

        p {
            width: 201px;
            height: 51px;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 26px;
            letter-spacing: 0.01em;
            color: #4AC9F3;
            padding-top: 7px;

            span {
                text-decoration: underline;
            }
        }
    }

    button {
        background: #2E2B32;
        border-radius: 36px;
        width: 190px;
        height: 68px;
        border: none;


        ::after {
            content: '';
            background-image: url(Images/arrow.svg);
            width: 28px;
            height: 21px;
            left: 556px;
            top: 531px;
            border: none;
            color: #F6F5F1;
        }

        span {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #F6F5F1;
            display: flex;
            justify-content: space-evenly;

        }
    }
}

footer {
    background: #514E55;
    max-height: 215px;

    .footer-wrapper {
        max-width: 1200px;
        margin: 0 auto;

        // .container-fluid {
        //     padding-top: 55px;
        // }

        .nav-link {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: #5D676F;
        }

        .btn-outline-info {
            width: 100px;
            height: 33px;
            border: 1px solid #55CAE8;
            box-sizing: border-box;
            border-radius: 22px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .footer-info {

            p {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                display: flex;
                align-items: center;
                letter-spacing: 0.01em;
                margin-left: 13px;
                color: #757378;
                margin: 0;
                position: relative;

                ::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    border: 1px solid #757378;
                    color: #757378;
                    padding-top: 19px;
                }
            }


        }
    }


}